#Cities, #Schools, #SchoolInfo, #ChosenSchools {
    background: rgb(138, 198, 247);
    width: 100%;
    border-radius: 25px;
    margin: 50px 5px 5px;
    text-align: center;
    padding: 10px;
}

#citySelect, #schoolSelect { margin: 55px auto; }

#SchoolInfo p {
    text-align: justify;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#ChosenSchools { margin-top: 5px;}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255);
    background-color: rgb(63,81,181);
}

.container {
    text-align: justify;
    margin-top: 20px;
}

.nav-link {
    transition: all 0.5s;
    min-width: 120px;
    text-align: center;
}

.nav-link:hover {
    background-color: rgb(255, 255, 255);
    color: black !important;
    font-weight: bold;
    transform: scale(1.2);
}

.navbar-dark .navbar-nav .nav-link {color: white;}